{% extends "base.html" %}

{% block content %}
<div class="card" style="width: 90%; margin-top: 50px;">
    <h1 style="margin-top: 30px;">Create a profile</h1>
    <form>
        <div class="row" style="width: 90%; margin: 25px auto 25px auto;">
            <div class="col-sm-3">
                <label>Name</label>
            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Enter name">
            </div>
        </div>
        <div class="row" style="width: 90%; margin: 25px auto 25px auto;">
            <div class="col-sm-3">
                <label>Email</label>

            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Enter email">
            </div>
        </div>
         <div class="row" style="width: 90%; margin: 25px auto 25px auto;">
            <div class="col-sm-3">
                <label>Password</label>

            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Enter password">
            </div>
        </div>
        <label style="text-align: left; display: block; margin-left: 10%;">
            Tell us about your mission:
        </label>
        <div class="row" style="width: 80%; margin: 25px auto 25px auto;">
            <textarea type="text" class="form-control" rows=5></textarea>
        </div>
        <h3>Add items to your wish list:</h3>
        <table class="table" id="this" style="width: 80%; margin: 20px auto;">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Approximate Cost</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <th scope="row">
                        <input type="text">
                    </th>
                    <td>
                        <input type="text">
                    </td>
                </tr>

            </tbody>
        </table>
        <button class="btn btn-success" id="buttonsubmit" style="width: 100px; display: block; margin-left: 10%;">Add Item</button>


        <button class="btn btn-primary" style="width: 150px; display: block; margin-left: 75%;">Save Profile</button>


    </form>
</div>
{% endblock %}